body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background-image: url("../images/backgroundImage.jpg");
}

p {
  margin: 0px 0px 5px 0px;
}

.restImg {
  width: 350px;
  height: auto;
  max-height: 350px;
}

.histBody {
  max-height: 415px;
  overflow-y: scroll;
}

.infoList {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.container {
  max-width: 80%;
}

#results_here {
  max-height: 600px;
  overflow-y: scroll;
  margin-right: 20px;
}

#rating {
  vertical-align: bottom;
}

#history_here {
  color: white;
  font-size: 13px;
}

#map {
  min-width: 600px;
  min-height: 600px;
}
