header {
  background-color: ;
  height: 100px;
  padding: 10px;
  border: 1px solid white;
}

.container {
  max-width: 80%;
}

aside {
  background-color: ;
  width: 300px;
  height: 400px;
  padding: 10px;
  border: 1px solid white;
}

#map {
  min-width: 600px;
  min-height: 600px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

main {
  background-color: ;
  width: 700px;
  height: 400px;
  padding: 10px;
  border: 1px solid white;
}

footer {
  background-color: ;
  width: 1000px;
  height: 100px;
  padding: 10px;
  border: 1px solid white;
}

.flex {
  display: flex;
  flex-direction: row;
}
footer {
  background-color: ;
  width: 1000px;
  height: 100px;
  padding: 10px;
  border: 1px solid white;
}

.infoList {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

p {
  margin: 0px 0px 5px 0px;
}

.restImg {
  width: 350px;
  height: auto;
  max-height: 350px;
}

#results_here {
  max-height: 600px;
  overflow-y: scroll;
  margin-right: 20px;
}

#rating {
  vertical-align: bottom;
}